body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #333;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    overflow: hidden;
}

ul,
ol {
    list-style-type: none;
}

select,
input,
img,
select {
    vertical-align: middle;
}

input {
    font-size: 14pt;
}
input::-ms-input-placeholder{text-align: center;}
input::-webkit-input-placeholder{text-align: center;}
input{
    width: 82%;
    height: 25pt;
    border-color: #e1041b;
    border-width: 1pt;
    border-radius: 12pt;
    margin-bottom: 4%;
    left: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: hsl(0, 157, 42);
    text-decoration: none;
}

.clear {
    clear: both;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}


.swiper-container {
    width: 100%;
    height: 100%;
} 

.swiper-slide{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-position:top;
    background-size: cover;
    color:#fff;
}
/*第一页*/
.page1{
    background-image: url('images/page1/bj.png');
    width: 100vw;
}

.page1 .mains{
    background-image: url('images/page1/ren.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: 22vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.page1 .mains .title{
    width: 90vw;
    position: absolute;
    left: 10vw;
    top: 4vh;
}
.page1 .mains .left{
    position: absolute;
    top: 62vh;
    left:6vw;
    width: 25vw;
}
.page1 .mains .center{
    position: absolute;
    top: 60vh;
    left:38vw;
    width: 24vw;
}
.page1 .mains .right{
    position: absolute;
    top: 62vh;
    left: 74vw;
    width: 20vw;
}
.page1 .mains .button1{
    position: absolute;
    top: 74vh;
    left:25vw;
    width:50vw;
}
/*第二页*/
.page2{
    background-image: url('images/page1/bj.png');
    width: 100vw;
}
.page2 .title{
    position: absolute;
    top: 2vh;
    left: 2vw;
    width:96vw;
}
.page2 .left{
    position: absolute;
    bottom: 2vh;
    width: 30vw;
    left: 2vw;
}
.page2 .right{
    position: absolute;
    bottom: 2vh;
    width: 20vw;
    right: 2vw;
}
/*转盘和指针的配置*/
.page2 .start_circle{
    position: absolute;
    top: 36vh;
    left: 50%;
    width: 6.2rem;
    height: 6.2rem;
    margin-left: -3.1rem;
}

.page2 .start_circle .banner {
    height: 100%;
    width: 100%;
}
.page2 .start_circle .turnplate{
    width: 100%;
    height: 100%;
    background-image:url(images/page2/bk.png);
    background-size:100% 100%;
    position: relative;
}
.page2 .start_circle .item {
    width: 88%;
    height: 88%;
    position: absolute;
    left: 6%;
    top: 6%;
}
.page2 .start_circle .pointer {
    position: absolute;
    width: 33.68%;
    height: 38%;
    left: 0;
    right: 0;
    top: 26.5%;
    margin: 0 auto;
}
/*第三页*/
.page3{
    background-image: url('images/page1/bj.png');
    width: 100vw;
}
/*弹窗奖品*/
.alertContent{
    height: 100vh;
    width: 100vw;
    z-index: 990;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
}
.alertContent .show{
    position: absolute;
    top:0px;
    left: 5vw;
    width:90vw;
    border-radius:4px;
    overflow:auto;
    ::-webkit-scrollbar-thumb:vertical{background-color:#fff;border-radius:5px}
}
.alertContent .show .item{
    width: 90%;
    margin-top: 30px;
    margin-left: 5%;
}
.alertContent .show .rules{
    height: 30px;
    width:24vw;
    position: relative;
    top: -35px;
    left:32vw;
    background-color: rgba(0, 0, 0, 0);
}
/*规则的弹窗*/
.alertContent1{
    height: 100vh;
    width: 100vw;
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.alertContent1 .show{
    max-height: 70vh;
    position: relative;
    left: 9vw;
    width:82vw;
    border:2px solid #fff;
    border-radius:4px;
    background-color:red;
    overflow: scroll;
}
.alertContent1 .show .rulesItem{
    margin-top: 10px;
    margin-bottom: 20px;
    width:100%;
}
.alertContent1 .x{
    position:relative;
    left: 45vw;
    height:10vw;
    width: 10vw;
    margin-top: 20px;
    text-align: center;
}