@import "compass/reset", "variables", "compass", "global";

.container {
    max-width: 720px;
    text-align: center;
    background: #000;
}

a {
    color: #fff !important;
}

.sec-2 {
    padding: 10px;
    text-align: left;
}

.relative {
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    p {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: left;
        padding: 5px 10px;
        color: #fff;
        font-size: 16px;
        background: rgba(0, 0, 0, .6);
    }
}

.cube {
    width: 32%;
    background: #288ee5;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    p {
        width: 2em;
        margin-left: 10px;
        line-height: 1.5em;
    }
}

.left {
    float: left;
}

.left-over {
    width: 66%;
}

.ml2{
    margin-left: 2%;
}

.btns { 
    button{
        width: 32%;
        margin-right: 2%;
        background: #fff;
        margin-top: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.org {
    background: #ffa32c;
}

.tags-wrap {
    position: relative;
    text-align: left;
    border-bottom: 1px solid #2cb1f5;
    .triangle {
        z-index: 1;
        @include triangle('up', $size: 27px, $color: #2cb1f5, $left: 139px, $top: 0);
    }
}

.tags {
    display: inline-block;
    background: #2cb1f5;
    padding: 2px 10px 1px 6px;
    color: #fff;
    @include border-radius(4px 0 0 4px);
    i {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("../images/icon2.png") no-repeat;
        background-position: -20px 0;
        background-position: -87px 6px;
        background-size: auto 100%;
    }

}

.text {
    text-indent: 2em;
    font-size: 14px;
    text-align: left;
}

table td {
    font-size: 14px;
    border: 1px solid #2cb1f5;
}

.icon-link {
    margin-left: 45%;
    margin-top: 10%;
    color: #fff;
}