@import "variables";

@mixin col ($width: 50%){
	width: $width;
	float: left;	
}

@mixin centerWrap($width: 90%) {
	margin-left: auto;
	margin-right: auto;
	width: $width;
}

@mixin defaultBackground($color: $white) {
	background-color: $color;
}

@mixin defaultPadding($width1: 10px, $width2: 10px, $width3: 10px, $width4: 10px) {
	padding : $width1 $width2 $width3 $width4;
}

@mixin defaultMargin($width1: 10px, $width2: 10px, $width3: 10px, $width4: 10px) {
	margin : $width1 $width2 $width3 $width4;
}

@mixin center-parent() {
    position: relative;
}
@mixin center-child($width: null, $height: null) {
    position: absolute;
    top: 50%;
    left: 50%;

    @if not $width and not $height {
        transform: translate(-50%, -50%);
    } @else if $width and $height {
        width: $width;
        height: $height;
        margin: -($width / 2) #{0 0} -($height / 2);
    } @else if not $height {
        width: $width;
        margin-left: -($width / 2);
        transform: translateY(-50%);
    } @else {
        height: $height;
        margin-top: -($height / 2);
        transform: translateX(-50%);
    }
}

/*
* flex居中
*/
@mixin flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
              justify-content: center;
}

@mixin flex-col {
    flex-flow: column;
}
