/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/global.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../sass/global.scss */
.clearfix:before, .row:before,
.clearfix:after,
.row:after {
  content: "";
  display: table;
}

/* line 22, ../sass/global.scss */
.clearfix:after, .row:after {
  clear: both;
}

/* line 26, ../sass/global.scss */
.clearfix, .row {
  *zoom: 1;
}

/* line 30, ../sass/global.scss */
.row {
  width: 100%;
}

/* line 35, ../sass/global.scss */
img {
  border: 0 none;
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

/* line 44, ../sass/global.scss */
button {
  border: none;
}

/* line 48, ../sass/global.scss */
table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}

/* line 54, ../sass/global.scss */
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

/* line 106, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 69, ../sass/global.scss */
h1 {
  font-size: 3em;
  line-height: 1.5em;
}

/* line 73, ../sass/global.scss */
body {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 77, ../sass/global.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 82, ../sass/global.scss */
.icon {
  display: inline-block;
}

/* 
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right, left, top
*/
/* line 120, ../sass/global.scss */
.container {
  margin-left: auto;
  margin-right: auto;
}

/* line 4, ../sass/screen.scss */
.bg-img {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 10, ../sass/screen.scss */
.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* line 17, ../sass/screen.scss */
#card {
  overflow: hidden;
}

/* line 21, ../sass/screen.scss */
.btn-common {
  position: absolute;
  width: 100%;
  opacity: 0;
}
